@charset "utf-8";
/* CSS Document */

/* Establece un default para cualquier componente que se utilice */
*{
	margin: 0px;
	padding: 0px;	
}

header, section, footer, nav, article, hgroup{
	display:block;
}

body{
	color:#eee;
	background:url('../images/bg.jpg') repeat-x #0c0d10;
	font:13px "Lucida Sans Unicode",Arial,Helvetica,sans-serif;
	width: 100%;
	display: -webkit-box;
	-webkit-box-pack: center;
}

#div_body{
	max-width: 1000px;
	margin: 20px 0px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
}

#header_top{
	display: -webkit-box;
	-webkit-box-orient:horizontal;
	padding: 40px;
	background-image:url(../images/logo.png);
	background-repeat:no-repeat;
}

#sec_lenguajes {
	height:25px;
	position:absolute;
	top:5px;
	right:175px;
}
#sec_lenguajes li {
	display:inline-block;
	list-style:none;
}
#sec_lenguajes li a {
	text-decoration:none;
	width:25px;
	height:25px;
	display:block;
	margin-left:2px;
}
#sec_lenguajes li .lenguajes_es {
	background-image: url(../images/cr.png);		
}
#sec_lenguajes li .lenguajes_en {
	background-image: url(../images/usa.png);		
}

#nav_top{
	border-bottom: 2px solid #eee;
}

#nav_top li{
	display:inline-block;
	list-style:none;
	padding: 5px;
}

#nav_top li a {
	color:#EEE;
	text-decoration: none;
}

#nav_top li:hover{
	background: -webkit-linear-gradient(top, black,white);
	-webkit-border-radius:0px 0px 0px 0px;
}

#div_sec_principal{
	display: -webkit-box;
	-webkit-box-orient:vertical;	
}

#div_sec_principal_bottom{
	margin:30px;
	display: -webkit-box;
	-webkit-box-orient:horizontal;	
}

#sec_principal{
	border: 1px solid blue;
	-webkit-box-flex: 1;
	margin: 20px;
	padding: 20px;
}

#side_noticias{
	border: 1px solid red;
	width: 220px;
	margin: 20px 0px;
	padding: 30px;
	background: #66CCCC;
}

#footer_bottom{
	color:#aaa;
	text-align:center;
	padding: 20px;
	border-top: 2px solid #eee;
	display: -webkit-box;
	-webkit-box-orient:vertical;	
}

#div_politicas{
}

#div_contactos{
	display: -webkit-box;
	-webkit-box-orient:horizontal;
}

#div_contactos img{
	margin-left:20px;
}

#link_Admin{
	float:right;	
}

/* Estilo del slideshow de inicio*/
#slideshow{
	background-color:#F5F5F5;
	border:1px solid #FFFFFF;
	height:340px;
	margin:50px auto 0;
	position:relative;
	width:640px;
	
	-moz-box-shadow:0 0 22px #111;
	-webkit-box-shadow:0 0 22px #111;
	box-shadow:0 0 22px #111;
}

#slideshow ul{
	height:320px;
	left:10px;
	list-style:none outside none;
	overflow:hidden;
	position:absolute;
	top:10px;
	width:620px;
}

#slideshow li{
	position:absolute;
	display:none;
	z-index:10;
}

#slideshow li:first-child{
	display:block;
	z-index:1000;
}

#slideshow .slideActive{
	z-index:1000;
}

#slideshow canvas{
	display:none;
	position:absolute;
	z-index:100;
}

#slideshow .flecha{
	height:86px;
	width:60px;
	position:absolute;
	background:url('../images/arrows.png') no-repeat;
	top:50%;
	margin-top:-43px;
	cursor:pointer;
	z-index:5000;
}

#slideshow .anterior{ background-position:left top;left:0;}
#slideshow .anterior:hover{ background-position:left bottom;}

#slideshow .siguiente{ background-position:right top;right:0;}
#slideshow .siguiente:hover{ background-position:right bottom;}

/*Estilo del slideshow de apps*/
#slideshow_apps{
	background-color:transparent;
	height:115px;
	/*position:relative;*/
	width:480px;
	margin-top:50px;
	margin-right:100px;
	
	-moz-box-shadow:0 0 22px #111;
	-webkit-box-shadow:0 0 22px #111;
	box-shadow:0 0 22px #111;
}

#slideshow_apps ul{
	height:105px;
	left:10px;
	list-style:none;/* outside none;*/
	/*overflow:hidden;*/
	width:475px;
}


#slideshow_apps li{
	margin:5px;
	display:inline-block;
}


/* Estilo Form de Contacto*/
*{
	border:none; 
}
a:link. a:visited {
	color:#0054a6;
	text-decoration:none; 
}

a:hover {
	text-decoration:underline
}

h1 {
	font-size:20px;
	margin-bottom:20px; 
}

#wrap {
	margin:10px auto;
	width:900px; 
}

p {
	margin:15px 0;
}

#header {
	margin-bottom:20px;
}

label {
	display:block; 
	padding-bottom:5px; 
	margin-top:20px;
}

#contactform {
	width:900px; 
	overflow:hidden;
}

#contactform li {
	list-style:none; 
	padding-bottom:20px;
}

#contactform li .fieldbox {
	background:transparent url(../images/subfield.jpg) no-repeat top left; 
	float:left; 
	height:27px; 
	padding-left:5px;
}

#contactform li .fieldbox input {
	background:transparent url(../images/subfield.jpg) no-repeat top right; 
	height:27px; 
	padding-top:5px;
	width:400px;
}

#contactform li .fieldbox #contact {
	width:200px;
}

#contactform li .msgbox {
	background:transparent url(../images/msgfield.jpg) no-repeat top left; 
	float:left; 
	height:110px; 
	padding-left:5px;
}

#contactform li .msgbox textarea {
	background:transparent url(../images/msgfield.jpg) no-repeat top right; 
	height:110px;
	padding-top:5px;
	width:500px;	 
}

#sendbutton {
	background:#acb4cb; color:#fff; 
	cursor:pointer;
	padding:5px 10px; 
	-moz-border-radius:4px;
	-webkit-border-radius:4px
}