@font-face {
    font-family: 'OpenSansRegular';
	src: url(../../fonts/OpenSans-Regular-webfont.ttf),
		url(../../fonts/OpenSans-Regular-webfont.eot),
		url(../../fonts/OpenSans-Regular-webfont.woff),
		url(../../fonts/OpenSans-Regular-webfont.svg);
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0px;
	padding: 0px;
}

body {	
	background-image: url(../../images/fondo.png);
	background-repeat: repeat;
	font-family: 'OpenSansRegular', sans-serif;
}

#wrapper {
	width: 800px;
	margin:0px auto 0px auto;
}

header {
	margin-top: 40px;
}

header h1 {
	float: left;
	font-family:"Trebuchet MS", sans-serif;
	font-size: 50px;
	color: #FFF;
}

#menu_principal {
	float: right;
	display:inline-block;
	margin-top: 35px;
}

#menu_principal li {
	display: inline;
	font-size:15px;
}

#menu_principal li a {
	text-decoration: none;
	color: #FFF;
	padding: 4px 13px 4px 13px;
}

#menu_principal li a:hover {
	color: #94CB1E;
}

#menu_principal li .active {
	background-color: #94CB1E;
}

#menu_principal li .active:hover {
	background-color: #696969;
}

#content {
	clear: both;
	padding-top: 60px;
}

footer {
	height: 145px;
	background-image: url(../../images/footer.png);
	background-repeat: repeat-x;
	font-size:13px;
	color: #FFF;
	clear: both;
	text-align: center; 	
	margin-top:30px;
}

footer div {
	padding-top:45px;
	color: #FFF;
}

footer div a {
	font-weight: bold;	
}

footer a:visited {
	color: #FFF; 
}

