@charset "utf-8";
/* CSS Document */

/*Estilo página contactos*/



#div_contactosizquierda
{
	position: absolute;
	float:left;
	margin-left:50%;
}

#div_contactos{
	position: absolute;
	float:left
	
	}
#div_borra	{
	padding:200px;
	clear:both;

}