@charset "utf-8";

/* Estilo del slideshow de inicio*/
#slideshow{
	background-color:#F5F5F5;
	border:1px solid #FFFFFF;
	height:340px;
	margin:50px auto 0;
	position:relative;
	width:640px;
	
	-moz-box-shadow:0 0 22px #111;
	-webkit-box-shadow:0 0 22px #111;
	box-shadow:0 0 22px #111;
}

#slideshow ul{
	height:320px;
	left:10px;
	list-style:none outside none;
	overflow:hidden;
	position:absolute;
	top:10px;
	width:620px;
}

#slideshow li{
	position:absolute;
	display:none;
	z-index:10;
}

#slideshow li:first-child{
	display:block;
	z-index:1000;
}

#slideshow .slideActive{
	z-index:1000;
}

#slideshow canvas{
	display:none;
	position:absolute;
	z-index:100;
}

#slideshow .flecha{
	height:86px;
	width:60px;
	position:absolute;
	background:url('../images/arrows.png') no-repeat;
	top:50%;
	margin-top:-43px;
	cursor:pointer;
	z-index:5000;
}

#slideshow .anterior{ background-position:left top;left:0;}
#slideshow .anterior:hover{ background-position:left bottom;}

#slideshow .siguiente{ background-position:right top;right:0;}
#slideshow .siguiente:hover{ background-position:right bottom;}

/*Estilo del slideshow de apps*/
#slideshow_apps{
	background-color:transparent;
	height:115px;
	width:480px;
	margin-top:50px;
	margin-right:100px;
	
	-moz-box-shadow:0 0 22px #111;
	-webkit-box-shadow:0 0 22px #111;
	box-shadow:0 0 22px #111;
}

#slideshow_apps ul{
	height:105px;
	left:10px;
	list-style:none;
	width:475px;
}


#slideshow_apps li{
	margin:5px;
	display:inline-block;
}