@charset "utf-8";
/* CSS Document */

#div_izquierda{
	position:absolute;
	float:left;
	
	}
	
#div_derecha{
	position:absolute;
	float:right;
	margin-left:20%;
	}
	
#div_derechaescuela{
	position:absolute;
	float:right;
	margin-left:890px;
	width: 193px;
	}
	
	#div_escuelaizquierda{
	position:absolute;
	float:left;
	width: 897px;
	padding-top: 0px;
	
	}
	
	
#div_escuela{
	width:1000px;
	padding:180px;
	margin-left:-18%;
	}
	
#div_CIC{
	width:1000px;
	padding:50px;
	margin-left:-5%;
	}
	
#div_iniciativa{
	width:1000px;
	padding:50px;
	margin-left:-5%;
	}
	
#div_equipo{
	width:1000px;
	padding:100px;
	margin-left:-10%;
	}
	
	
#miembrosequipos{
	width: 400px;
	padding:100px;
	margin-left:-10%;
	}
#imagenmiembro{
	width:64px;
	position:absolute;
	float:left;
	padding-top: 0px;
	}
	
#informacionmiembro{
	width:250px;
	position:absolute;
	float:rigth;
	padding: -20px;
	margin-left:70px;
	
	}
	
#div_borra{
	clear:both;
	padding:200px;
	}
	
