@charset "utf-8";
/* CSS Document */

h1{
	margin_top:10px;
	margin-bottom:10px;
}

.img_borde{
	background-color:#F5F5F5;
	border:1px solid #FFFFFF;
	-moz-box-shadow:0 0 22px #CCC;
	-webkit-box-shadow:0 0 22px #CCC;
	box-shadow:0 0 22px #CCC;
	max-height:200px;
	max-width:200px;
}

.sec_principal p{
	width:1000px;
	text-align:justify;	
}

.sec_principal div{
	margin-top:10px;	
}

.izquierda{
	float:left;
	margin-right:30px;
}

.derecha{
	float:right;
	margin-left:30px;
}

#div_miembros{
	display: -webkit-box;
	-webkit-box-orient: vertical;
}