@charset "utf-8";
/* CSS Document */

/* Establece un default para cualquier componente que se utilice */
*{
	margin: 0px;
	padding: 0px;	
}

header, section, footer, nav, article, hgroup{
	display:block;
}

body{
	background:url('../images/fondo.png') repeat #DBDEDD;
	color:#FFF;
	font:13px "Lucida Sans Unicode",Arial,Helvetica,sans-serif;
	width: 100%;
}

a{
	color:#FFF;
}

a:visited{
	color:#FFF;
}

#div_body{
	max-width: 1000px;
	margin: 20px auto;
	display:block;
}

#header_top{
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-orient:horizontal;
	-moz-box-orient:horizontal;
	padding: 40px;
	/*background-image:url(../images/logo.png);
	background-repeat:no-repeat;*/
}

#sec_lenguajes {
	height:25px;
	position:absolute;
	top:5px;
	right:175px;
}
#sec_lenguajes li {
	display:inline-block;
	list-style:none;
}
#sec_lenguajes li a {
	text-decoration:none;
	width:32px;
	height:32px;
	display:block;
	margin-left:2px;
}
#sec_lenguajes li .lenguajes_es {
	background-image: url(../images/cr.png);		
}
#sec_lenguajes li .lenguajes_en {
	background-image: url(../images/usa.png);		
}

#nav_top img{
	max-height:63px;
	max-width:100px;	
}

#nav_top ul{
	padding-left:600px;
}

#nav_top li{
	display:inline-block;
	list-style:none;
	padding: 5px;
}

#nav_top li a {
	color:#FFF;
	text-decoration: none;
}

.nav_activa{
	background: #5F8F21;
}

#div_sec_principal{
	display: -webkit-box;
	-webkit-box-orient:vertical;
	display: -moz-box;
	-moz-box-orient:vertical;
	margin-top:30px;	
}

#div_sec_principal_bottom{
	margin:30px;
	display: -webkit-box;
	-webkit-box-orient:horizontal;
	display: -moz-box;
	-moz-box-orient:horizontal;	
}

#sec_principal{
	border: 1px solid blue;
	-webkit-box-flex: 1;
	-moz-box-flex:1;
	margin: 20px;
	padding: 20px;
}

#footer_bottom{
	color:#aaa;
	text-align:center;
	margin-top: 50px;
	padding: 20px 170px;
	background:url(../images/footer.png);
	background-repeat:repeat-x;
	display:block;
	/*display: -webkit-box;
	display: -moz-box;
	-webkit-box-orient:vertical;
	-moz-box-orient:vertical;	*/
}

#footer_bottom label {
	display:block; 
	padding-bottom:5px; 
	margin-top:20px;
}

#footer_ul{
	list-style:none;
	margin-top:30px;
}

#footer_ul li{
	display:inline;	
	margin-left:20px;
	margin-right:20px;
}

.footer_img{
	max-width:50px;
	max-height:32px;
	margin-right:5px;	
}

#footer_ul	 img{
	margin-left:30px;
	text-decoration:none;	
}

#footer_ul a{
	margin-left:30px;
	text-decoration:none;	
}

#footer_ul a:visited{
	color:#eee;	
}

#footer_ul img:first-child{
	margin-left:-20px;	
}

.horizontal a{
	color:#eee;	
}

.horizontal a:visited{
	color:#eee;	
}

#span_separador{
	padding-right:350px;	
}

#ul_footer_bottom{
	display:block;	
	text-align:center;
}

#ul_footer_bottom{
	list-style:none;
	color:#333;	
}

#ul_footer_bottom li{
	display:inline-block;
	margin:5px;
}

.span_linea{
	height:9px;
	width:189px;
	background:url('../images/divisor.png') no-repeat;
	display:block;
}

#ul_footer_bottom .izquierda{ background-position:left top;left:0;}
#ul_footer_bottom .derecha{ background-position:left bottom;bottom:0;}

.span_circulo_footer{
	margin-left:-5px;
	margin-right:-5px;
	background:#DBDEDD; 
	padding:0px 8px; 
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}