@charset "utf-8";

label {
	display:block; 
	padding-bottom:5px; 
	margin-top:20px;
}

#div_sec_principal {
	margin-top: 35px;
}

#div_galeria_apps {
	margin-left:250px;
}

#div_info_app {
	margin:50px;
	text-align: center;
}

#div_info_app #img_logo_app {
	margin-top: 30px;
}

#div_info_app #img_available_on {
	margin-top: 70px;
}

#div_descripcion_app {
	clear: both;
	width: 70%;
	margin: 0 auto 0 auto;
}

#div_sec_comentarios {
	margin-top: 50px;
	width: 40%;
}

#div_sec_comentarios p {
	margin: 20px 0 20px 0;
	color: #F00;
}

#div_sec_comentarios #sendbutton {
	width: 70px;
	height: 30px;
}

/* Estilo del slideshow de inicio*/
#div_slider_app{
	margin:30px;
}

#slideshow{
	background-color:#F5F5F5;
	border:1px solid #FFFFFF;
	height:320px;
	position:relative;
	width:520px;
	
	-moz-box-shadow:0 0 22px #111;
	-webkit-box-shadow:0 0 22px #111;
	box-shadow:0 0 22px #111;
}

#slideshow ul{
	height:320px;
	list-style:none outside none;
	overflow:hidden;
	width:520px;
}

#slideshow li{
	position:absolute;
	display:none;
	z-index:10;
}

#slideshow li:first-child{
	display:block;
	z-index:1000;
}

#slideshow .slideActive{
	z-index:1000;
}

#slideshow canvas{
	display:none;
	position:absolute;
	z-index:100;
}

#slideshow .flecha{
	height:86px;
	width:60px;
	position:absolute;
	background:url('../images/arrows.png') no-repeat;
	top:50%;
	margin-top:-43px;
	cursor:pointer;
	z-index:5000;
}

#slideshow .anterior{ background-position:left top;left:0;}
#slideshow .anterior:hover{ background-position:left bottom;}

#slideshow .siguiente{ background-position:right top;right:0;}
#slideshow .siguiente:hover{ background-position:right bottom;}




/* Estilo slide de apps*/
#slideshow_apps{
	background-color:transparent;
	height:115px;
	width:480px;
	margin-top:50px;
	margin-right:100px;
	
	
	-moz-box-shadow:0 0 22px #111;
	-webkit-box-shadow:0 0 22px #111;
	box-shadow:0 0 22px #111;
}

#slideshow_apps ul{
	height:105px;
	left:10px;
	list-style:none;
	width:475px;
}

#slideshow_apps li{
	margin:5px;
	display:inline-block;
}