@charset "utf-8";
/* CSS Document */

/* Estilo de la seccion de noticias*/
#article_noticias{
	display:block;
	margin-top:30px;
	margin-bottom:30px;
	width:1000px;
	height:380px;
}

.thumb_noticias{
	display:inline-block;
	max-width:285px;
	margin-left:15px;
	margin-right:15px;
}

.thumb_noticias img{
	background-color:#F5F5F5;
	-moz-box-shadow:0 0 22px #000;
	-webkit-box-shadow:0 0 22px #000;
	box-shadow:0 0 22px #000;	
	min-width:285px;
	max-width:285px;
}


.thumb_noticias img:first-child{
	max-height:170px;
}

.thumb_noticias img:nth-child(2){
	margin:-5px 0px;
	max-height:200px;	
}

#article_noticias div h4{
	position: relative;
	top: -170px;	
	text-align:center;
	padding:15px;
	width:250px;
}

#article_noticias div:first-child h4{
	color:#64BFDC;		
}

#article_noticias div:nth-child(2) h4{
	color:#46BE29;		
}

#article_noticias div:nth-child(3) h4{
	color:#EA2E47;		
}

#article_noticias p{
	color:#A2A6A7;
	position:relative;
	top:-170px;
	display:inline-block;
	text-align:justify;
	font-size:14px;
	width:260px;
	padding:15px;
}

#article_noticias a{
	text-decoration:none;
}