
ul.bjqs-controls.v-centered li a{
	padding:10px;
	background-repeat: no-repeat;
	background-position: center;
	height: 26px;
	width: 26px;
}

ul.bjqs-controls.v-centered li.bjqs-next a {
	background-image: url(../images/next.png);
}

ul.bjqs-controls.v-centered li.bjqs-prev a {
	background-image: url(../images/prev.png);
}

ul.bjqs-controls.v-centered li.bjqs-next a:hover {
	background-image: url(../images/nextHover.png);
}

ul.bjqs-controls.v-centered li.bjqs-prev a:hover {
	background-image: url(../images/prevHover.png);
}

ol.bjqs-markers li a{
	padding:5px 10px;
	background:#000;
	color:#fff;
	margin:5px;
	text-decoration: none;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #999;
}

p.bjqs-caption{
	background: rgba(255,255,255,0.5);
}